In [30]:
import pandas as pd
df = pd.read_csv('trestle_academy_dataset.csv')
# first five rows

# df.head()
# df.info
# df.describe()
# df.columns
# df.isnull()

In [31]:
# filename = 'messy.txt'

# r = read file
# w = write to file
# r+ = read/write file
# a = append to file


# with open(filename, 'r') as file:
#     file_data = file.read()
#     print(file_data)


# wriet to a file 
filename =  'write_file.txt'
# with open(filename, 'w') as file:
#     file_data = file.write('Today is an.')


with open(filename, 'a') as file:
    file_data = file.write('\nWe have appended a new line\n')
    file_data = file.write('Writing new one again\n')
    file_data = file.write('Writing new one again\n')

In [32]:
df = pd.read_excel('latitude.xls')

df.head()
df.info
df.describe()
df.columns
df.isnull()

     country   1700
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
..       ...    ...
241    False  False
242    False   True
243    False  False
244    False  False
245    False  False

[246 rows x 2 columns]

In [33]:
# check for missin values
import pandas as pd 
data = pd.read_csv('trestle_academy_dataset.csv')
data.isnull()

,student_id,name,age,gender,course,enrollment_date,final_grade,is_intern
0,False,True,True,False,False,False,False,False
1,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

In [34]:
if 'age' in data.columns and data['age'].isnull().sum() > 0:
    average_age = data['age'].mean()
    data['age'].fillna(average_age, inplace = True)

In [35]:


# 2. Handle Missing Values
# Check for any missing values in each column
print("\nChecking for missing values:")
print(df.isnull().sum())

#incase there might be some missing values in 'age' or 'final_grade'
# Fill missing 'age' with the mean age
if 'age' in df.columns and df['age'].isnull().sum() > 0:
    mean_age = df['age'].mean()
    df['age'].fillna(mean_age, inplace=True)
    print(f"Filled missing values in 'age' with mean age: {mean_age}")

    # Fill missing 'final_grade' with median grade
if 'final_grade' in df.columns and df['final_grade'].isnull().sum() > 0:
    median_grade = df['final_grade'].median()
    df['final_grade'].fillna(median_grade, inplace=True)
    print(f"Filled missing values in 'final_grade' with median grade: {
          median_grade}")

Checking for missing values:
country    0
1700       4
dtype: int64

In [36]:
data['age'] = data['age'].astype(int)
data['final_grade'] = data['final_grade'].astype(int)
data['enrollment_date'] = pd.to_datetime(data['enrollment_date'])

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
import datetime as dt
date = dt.datetime.today()

date = dt.datetime.today().strftime('%Y-%m-%d')
print('Date:',date)

time = dt.datetime.today().strftime('%I:%M:%S %p')
print('Time:', time)

Date: 2024-11-12
Time: 07:40:11 PM

In [ ]:

# 3. Standardize Data Types
# Ensure 'age' and 'final_grade' are integers, 'enrollment_date' is a date
df['age'] = df['age'].astype(int)
df['final_grade'] = df['final_grade'].astype(int)
df['enrollment_date'] = pd.to_datetime(df['enrollment_date'])
# check whether age, finally_grade and enrollment_date has been updated to int
df.head()

In [ ]:
# 4. Normalize Text Data
# Convert text in 'course' and 'gender' to title case for consistency
df['course'] = df['course'].str.title()
df['gender'] = df['gender'].str.title()
df.head()

In [ ]:

# 5. Filter Unwanted Data
# Filter out rows where 'age' is outside the student age range (18 to 45)
df = df[|(df['age'] >= 18)| & (df['age'] <= 45)]

In [ ]:
# 6. Correct Inconsistent Entries
# Standardize 'is_intern' column to have consistent 'Yes'/'No' values
# We will use a for loop instead 

# Convert inconsistent entries in 'is_intern' to 'Yes' or 'No'
for i in range(len(df['is_intern'])):
    # Convert value to lowercase for consistency
    value = str(df.loc[i, 'is_intern']).lower()
    if value in ['yes', 'y', 'true', '1']:
        df.loc[i, 'is_intern'] = 'Yes'
    else:
        df.loc[i, 'is_intern'] = 'No'

print("\nStandardized 'is_intern' column values:")
print(df['is_intern'].value_counts())

In [ ]:

# 7. Save the Cleaned Data
# Save the cleaned dataset to a new file for pipeline ingestion
cleaned_dataset_path = 'cleaned_trestle_academy_dataset.csv'
df.to_parquet(cleaned_dataset_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_dataset_path}")

# Final confirmation of cleaned data
print("\nCleaned Data Preview:")
print(df.head())
print("\nCleaned Data Summary:")
print(df.info())

In [ ]:
# using loc 
import pandas as pd
df = pd.read_csv('trestle_academy_dataset.csv')
data = df.loc[:, ['student_id', 'course', 'final_grade']]
new_data = data.to_csv('new_student.csv', index=False)
df.head()

In [ ]:
# id, course, final_grade >= 80
data = df.loc[(df['final_grade'] >= 80), [
    'student_id', 'course', 'final_grade']]

passed_students = data.to_csv('passed_students.csv', index = False)

In [ ]:
pd.read_csv('passed_students.csv')

In [ ]:
import pandas as pd 
import numpy as np

filename = 'titanic.csv'
data = pd.read_csv(filename)
data['Fare'] = round(data['Fare'], 2)
# data['Fare'] = data['Age'].astype('Fare')
data.head()

In [ ]:
from sqlalchemy import create_engine
import pandas as pd  
engine = create_engine('sqlite:///Northwind.sqlite')
con = engine.connect()
query = con.execute("SELECT * FROM Orders")
df = pd.DataFrame(query.fetchall())
con.close()
df.head()

In [ ]:
data = pd.read_csv('articles.csv')
data.head()

# WORKING WITH API USING ENVIRONMENTA VARIABLES

In [ ]:
import requests as r
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Access the API key from environment variables
api_key = os.getenv('API_KEY')

url = 'https://newsapi.org/v2/top-headlines'
params = {'country': 'gr'}
headers = {'Authorization': f'Bearer {api_key}'}

response = r.get(url, params=params, headers=headers)
data = response.json()
for article in data['articles']:
    print(article.get('title'))

In [ ]:
from urllib.request import urlretrieve as r
import pandas as pd
url = 'https://assets.datacamp.com/production/course_1606/datasets/winequality-red.csv'
response = r(url, 'winequality-red.csv')
df = pd.read_csv('winequality-red.csv', sep=';')
columns = df.columns
df.head()

In [ ]:
# Import package
import pandas as pd
from urllib.request import urlretrieve

# Assign url of file: url
url = 'https://assets.datacamp.com/course/importing_data_into_r/latitude.xls'
urlretrieve(url, 'latitude.xls')

# Read in all sheets of Excel file: xls
xls = pd.read_excel('latitude.xls', sheet_name=None)

# Print the sheetnames to the shell
print(xls.keys())

# Print the head of the first sheet (using its name, NOT its index)
print(xls['1700'].head())

In [ ]:
import requests as r 
url = "https://campus.datacamp.com/courses/1606/4135?ex=2"
response = r.get(url)
response_text = response.text
print(response_text)

# YOU CAN PLAY WITH THIS MORE

In [ ]:
from bs4 import BeautifulSoup as BS
import requests as r 

url = "https://www.billboard.com/pro/indie-labels-own-half-recorded-music-market-midia-report/"
response = r.get(url)
html_doc = response.text
soup = BS(html_doc, 'html.parser')  # Specify parser for better consistency

titles = soup.find_all('title')
filename = 'blog.txt'

# Open file and write each title to a new line
with open(filename, 'a') as file:
    for title in titles:
        file.write(title.text + '\n')

In [ ]:
import pandas as pd
import datetime as dt
# Load the data
data = pd.read_csv('titanic.csv')


# Calculate summary statistics and add them as new columns
data['Average_Age'] = data['Age'].mean()
data['Max_Age'] = data['Age'].max()
data['Min_Age'] = data['Age'].min()

data['Average_Fare'] = round(data['Fare'].mean(), 2)
data['Max_Fare'] = data['Fare'].max()
data['Min_Fare'] = data['Fare'].min()

# add dates 
# get the time of today
data['Date'] = dt.datetime.now().strftime('%Y-%m-%d')
data['Time']= dt.datetime.now().strftime('%I:%M:%S %p')
# Create a new DataFrame with only the new columns
new_data = data[['Average_Age', 'Max_Age', 'Min_Age',
                 'Average_Fare', 'Max_Fare', 'Min_Fare', 'Date', 'Time']].copy()
``
# Save the new DataFrame to a Parquet file
new_data.to_csv('titanic_summary.csv', index=False)

# Read the Parquet file to verify
read_data = pd.read_csv('titanic_summary.csv')
print(read_data.head())

In [ ]:
data1 = pd.read_csv('titanic.csv', nrows=10)

In [ ]:
# Create boolean columns for each age group in the original DataFrame
data['Children'] = data['Age'] < 13
data['Adolescent'] = (data['Age'] >= 13) & (data['Age'] < 18)
data['Adult'] = (data['Age'] >= 18) & (data['Age'] < 65)
data['OldAge'] = data['Age'] >= 65

# Check the first few rows to verify the new columns
data[['Age', 'Children', 'Adolescent', 'Adult', 'OldAge']].copy()

data.to_csv('Age_classification.csv', index=False)
df = pd.read_csv('Age_classification.csv')
df.head()

In [ ]:
children = data[data['Age'] < 13]

data['datetime'] = pd.to_datetime(data['Date']).dt.date

for date in data['datetime']:
    print(date)

 # BUILDING AN ETL PIPELINEB BELOW

In [ ]:
import pandas as pd


def extract(filename):
    """
    Extract data from a file based on its extension.
    """
    print(f"Extracting data from '{filename}'...\n")
    try:
        if filename.endswith('.csv'):
            return pd.read_csv(filename)
        elif filename.endswith('.txt'):
            with open(filename, 'r') as file_obj:
                return pd.DataFrame([line.strip() for line in file_obj.readlines()], columns=['text'])
        elif filename.endswith('.parquet'):
            return pd.read_parquet(filename)
        elif filename.endswith(('.xlsx', '.xls')):
            return pd.read_excel(filename)
        else:
            raise ValueError("Unsupported file type.")
    except FileNotFoundError:
        print(f"Error: The file '{filename}' does not exist.")
        return None
    except Exception as e:
        print(f"An error occurred: {e}")
        return None


def transform(dataframe):
    """
    Transform the dataframe by selecting specific columns.
    """
    try:
        if {'student_id', 'name', 'course', 'final_grade'}.issubset(dataframe.columns):
            dataframe = dataframe[['student_id',
                                   'name', 'course', 'final_grade']]
            return dataframe
        else:
            raise KeyError(
                "Missing one or more required columns: 'student_id', 'name', 'course', 'final_grade'")
    except Exception as e:
        print(f"An error occurred during transformation: {e}")
        return None


def load(dataframe, save_filename):
    """
    Load the dataframe into a CSV file.
    """
    try:
        dataframe.to_csv(save_filename, index=False)
        print(f"Data successfully saved to '{save_filename}'.")
        return dataframe.head()
    except Exception as e:
        print(f"An error occurred while saving the file: {e}")
        return None

In [ ]:
# Extracting the data 
extracting = extract('trestle_academy_dataset.csv')
# Transforming the data 
transforming = transform(dataframe = extracting)
#load and save data to csv
load_data = load(dataframe = transforming, save_filename='trestle.csv')

In [ ]:
import requests as r
import pandas as pd


# Define the API endpoint with query parameters and your API key

url = 'https://newsapi.org/v2/top-headlines'

params = {

    'country': 'us',  # Articles from the United States

    'category': 'technology',  # Technology-related articles

    'q': 'AI',  # Articles that mention AI

    'pageSize': 5,  # Get 5 articles per page

    'page': 1,  # First page

    'apiKey': 'e7811595ab0748339199934ed4a0cec3'  # Replace with your actual API key

}

# Make the request

response = r.get(url, params=params)


if response.status_code == 200:
    data = response.json()
    # Extract and structure the articles
    articles = []
    for article in data.get('articles', []):
        articles.append({
            "Title": article.get('title', 'N/A'),
            "Description": article.get('description', 'N/A'),
            "URL": article.get('url', 'N/A')
        })

    # Create a DataFrame
    df = pd.DataFrame(articles)

    # Adjust column order and formatting
    df = df[["Title", "Description", "URL"]].rename(columns={
        "Title": "📰 Title",
        "Description": "📝 Description",
        "URL": "🔗 URL"
    })

    # Show the DataFrame in a neat format
    print(df.to_string(index=False))  # Suppress the index when printing

    # Optionally save to a file for reference
    df.to_csv("articles.csv", index=False)

    print("\nData successfully saved to 'articles.csv'.")
else:
    print(f"Failed to fetch data: {response.status_code}")

# THE CODE ABOVE IS THE SAME IUS THE CODE  BELOW EXCEPT THAT, IT DOES NOT TRANSFORM THE COLUMNS

In [ ]:
import requests
import pandas as pd
url = 'https://newsapi.org/v2/top-headlines'
params = {
    'country': 'us',
    'category': 'technology',
    'q': 'AI',
    'apikey': 'e7811595ab0748339199934ed4a0cec3'
}
response = requests.get(url, params=params)

if response.status_code == 200:
    data = response.json()
    articles = []
    for article in data.get('articles'):
        articles.append({
            'Title': article.get('title', 'N/A'),
            'Author': article.get('author', 'N/A'),
            'Url': article.get('url', 'N/A'),
            'Description': article.get('description', 'N/A')

        })
    df = pd.DataFrame(articles)
    df.to_csv('articles.csv', index=False)

# Instructions:

# Select an API:
Visit API List.fun or any other API directory. Choose an API that interests you.
Example categories: Weather, Movies, Sports, Finance, or Fun APIs like jokes or quotes.

# Explore the API Documentation:

# Review the API documentation to understand its endpoints and available parameters.
Familiarize yourself with how to customize parameters (e.g., query strings, filters, or date ranges).
Extract Data:

# Use Python to send a request to the API using the requests library.
Customize the API parameters to fetch data you find interesting or relevant.
Process the Data:

# Convert the retrieved JSON data into a DataFrame using the pandas library.
Perform basic data cleaning, such as removing null values or renaming columns.
Save the Data:

# Convert the cleaned data into a CSV or Parquet file format.
Save the file to your local machine.
Submit Your Work:

# Push your project to a GitHub repository. Ensure the repository includes:
A README.md file explaining the API you selected and the steps you followed.
Your Python code in a well-commented script.
The output file (CSV or Parquet) with the extracted data.
Deliverables:

# Link to your GitHub repository containing:
Python script.
CSV or Parquet file.
README.md file with your project description.
## Deadline:
FRIDAY NOV 22ND 2024

## Tips:

Make sure the API you choose is free or provides a free tier for your usage.
Test your API key (if required) and ensure your parameters are correct.
Feel free to ask for help if you encounter any issues with API requests or data processing.
Good luck! 🎉

In [ ]:
# WRITE YOUR CODE HERE